<div class= 'container'>
<%= month_calendar(attribute: :start_at, end_attribute: :end_at, events: @merchandises) do |date, merchandises| %>
  <%= date.day %>
  
  <% merchandises.each do |merchandise| %>
  <div>
    <%= link_to merchandise.name, edit_merchandise_path(merchandise), class: 'merchandise-text' %>

    <% if current_user.bookmark?(merchandise) %>
    <%= render 'unbookmark', {merchandise: merchandise} %>
    <% else %>
      <%= render 'bookmark', {merchandise: merchandise} %>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>

