<div class= 'main-container'>
<%= month_calendar(attribute: :start_at, end_attribute: :end_at, events: @merchandises) do |date, merchandises| %>
  <%= date.day %>
  
  <% merchandises.each do |merchandise| %>
  <div>
    <%= link_to merchandise.name, edit_merchandise_path(merchandise), class: 'merchandise-text' %>
  </div>
  <% end %>
<% end %>

<%= javascript_pack_tag 'merchandises/cost' %>
<div class="row">
  <div class="col-12">
    <div class='innner-text'>
    <% if @month_merchandises.present? %>
    <h3>今月の推し額</h3>
    <span id="total-area"></span>円
    <h3>今月の推し活</h3>
      <% @month_merchandises.each do |merchandise| %>
        <%= link_to merchandise.name, edit_merchandise_path(merchandise), class: 'merchandise-text' %>
        <div class="merchandise-price", id='merchandise-price-<%= merchandise.id %>'><%= merchandise.price %></div>
        × 
        <form>
          <input class="amount-input" type="text" id="amount-input-<%= merchandise.id %>" oninput="costFunc();">
        </form>
        = <span class="merchandise-result" id="merchandise-result-<%= merchandise.id %>"></span>円</br>
      <% end %>
    <% else %>
      購入なし
    <% end %>
    </div>
  </div>
</div>

