<header>
  <nav class='navbar navbar-expand-lg navbar-warning bg-warning'>
    <%=link_to merchandises_path, class: 'navbar-brand' do%>
      <%= image_tag 'shigurenisan_calender.png', size: '100x100' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-reorder "></i></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item'>
        <button class='btn btn-warning'><%= link_to 'イベント追加', new_merchandise_path %></button>
        </li>
        <li class='nav-item'>
        <button class='btn btn-warning'><%= link_to 'ご意見・ご要望', "#", class: 'nav-link' %></button>
        </li>
        <li class='nav-item'>        
        <button class='btn btn-warning'><%= link_to 'ログアウト', logout_path, class: 'nav-link', method: :delete %></button>
        </li>
      </ul> 
    </div>
  </nav>
</header>
