<div class='container'>
<h3>登録中のカテゴリ</h3>
<% @category_users.each do |category| %>
<div class="row">
  <div class="col-6"><h4>▶︎<%= category.name %></h4></div>
  <div class="col-6 text-right"><button class='btn btn-warning'><%= link_to '登録解除', category_url(category), method: :delete %></button></div>
<% end %>
</div>

<h3>カテゴリ検索</h3>
  <%= search_form_for @q, url: categories_path do |f| %>
    <div class="input-group mb-3">
     <%= f.search_field :name_cont, class: 'form-control' %>
    <div class="input-group-append">
     <%= f.submit class: 'btn btn-warning' %>
    </div>
    </div>
  <% end %>

<% if @categories.present? %>
<% @categories.each do |category| %>
    <div class="col-sm-12 col-lg-4 mb-3">
      <%= category.name %>
    <% end %>
   </div>

<% else %>
<%= link_to 'カテゴリ追加を依頼する', '#' %>
<% end %>
</div>
</div>